/* Estilo global */
body {
  font-family: 'Arial', sans-serif;
  background-color: #D70032; /* Rojo característico del América de Cali */
  color: white;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: #005B8D; /* Azul oscuro */
  padding: 20px 0;
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header img {
  width: 200px;
  height: auto;
  margin-top: 10px;
}

/* Contenido */
.content {
  padding: 20px;
  text-align: center;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
  padding: 10px 15px;
  margin: 0 auto;
  max-width: 800px;
}

/* Tarjetas */
.card {
  margin: 20px 0;
  background-color: #8C1C1C; /* Rojo más oscuro */
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.card h3 {
  font-size: 1.5rem;
  color: #F5F5F5;
  text-align: center;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #F5F5F5;
  text-align: justify;
}

/* Footer */
footer {
  background-color: #005B8D;
  color: white;
  padding: 10px;
  text-align: center;
}

footer a {
  color: #F5F5F5;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #FFDF00; /* Color dorado al pasar el cursor */
}

/* Estilo para enlaces */
a {
  text-decoration: none;
  color: #FFDF00;
}

a:hover {
  color: #F5F5F5;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .header h1 {
    font-size: 2.5rem;
  }

  .card {
    padding: 15px;
  }

  .content h2 {
    font-size: 1.8rem;
  }

  .content p {
    font-size: 1rem;
  }
}
