
body {
  font-family: 'Arial', sans-serif;
  background-color: #D70032;
  color: white;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #005B8D;
  padding: 40px 0;
  text-align: center;
}

.header h1 {
  font-size: 3.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.header img {
  width: 250px;
  height: auto;
  margin-top: 20px;
}

.header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.row {
  margin-top: 20px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: justify;
}

h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin: 15px 0;
}

ul li a {
  text-decoration: none;
  color: #F5F5F5;
  font-size: 1.1rem;
}

ul li a:hover {
  color: #FFDF00;
}


form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
}

form label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #F5F5F5;
}

form input {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px 40px;
  background-color: #8F8F8F;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

form button:hover {
  background-color: #505050;
}


footer {
  background-color: #005B8D;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 1.1rem;
}

footer a {
  color: #F5F5F5;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #FFDF00;
}

a {
  text-decoration: none;
  color: #FFDF00;
}

a:hover {
  color: #F5F5F5;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 2.5rem;
  }

  .header img {
    width: 200px;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  form {
    width: 90%;
  }

  footer {
    font-size: 1rem;
  }
}
